body {
	color: rgb(20,20,20);
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	background: url("../images/admin/bg.gif") top left repeat;
}
ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
li {
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
}
#header {
	height: 6em;
	width: 100%;
	position:fixed;
	background:url(../images/admin/banner.png) repeat-x;
	z-index: 100;
	top: 0px;
}
#logo {
	display: block;
	background: #000 repeat-x top;
	opacity:0.8;
	float: left;
	height:6em;
	width:100%;
	vertical-align: middle;
}
#logo #text {
	color: white;
	font: 3em arial,helvetica,clean,sans-serif;
	margin: 0.5em 1em 1em 0.5em;
	position:relative;
	float:left;
}
#logo #img {
	height:auto;
	position:relative;
	float:left;
	margin:0.5em 0 1em 1em;
}
#logo #close-project {
	float:right;
}
#logo #userLogin {
	color: #fff;
	font: 1.5em arial,helvetica,clean,sans-serif;
	margin: 1em 1.5em 1.5em 0;
	position:relative;
	float:right;
}
#content {
	position: relative;
}
#content #titleBar {
	margin-left: 1.5em;
}
#content #titleBar h1 {
	font-weight: bold;
	font-size: 19pt;
	margin-top: 3.7em;
	overflow: hidden;
	zoom: 1;
}
#pageLeft {
	float:left;
	display: table-cell;
	border-right: 1px solid rgb(23,95,147);
	height:39.4em;
}
.pageRight {
	position:relative;
	padding: 0em 0em 1em 1em;
}
.right1 {
	float:left;
	background: rgb(224, 224, 224);
	width: 42em;
	height: 39.4em;
	border-right: 1px solid rgb(23,95,147);
	margin-left:0.5em;
}
.right1  p {
	font-size:1.5em;
	padding:0.5em 0em 0em 0.5em;
}
.right1 ul#listReport li {
	list-style-type:decimal;
	margin-left:3em;
}
form#update-event {
	margin-left:0.3em;
}
form#update-event input[type="text"], form#update-event textarea {
	border-radius: 3px;
	border: 1px solid #c9c9c9;
	color: #404040;
	font-size: 11px;
	margin-bottom: 0.3em;
	padding: 0 6px;
	width: 95%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
form#update-event input[type="text"] {
	height: 2.7em;
}
form#update-event textarea {
	height: auto;
}
.right2 {
	float:left;
	margin-left:0.5em;
}
#user-table_wrapper {
	width:78em;
}
#rank-table_wrapper {
	width:78em;
}
#tempFullDes img {
	max-width: 500px;
	max-height: auto;
}
#tempFullDes object, #tempFullDes iframe {
	max-width: 500px;
}